<p id="notice"><%= notice %></p>

<p>
  <strong>Role:</strong>
  <%= @post.role %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @post.experience %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>
<% if current_user.admin? %>
  <%= link_to 'Edit', edit_post_path(@post) %> 
<% end %>
<%= link_to 'Back', posts_path %>
  <%= render 'applications/form', post:@post %>

<% @applications.each do |application| %>
   <%= application.body.to_plain_text %>
   <%= application.post.user.email %>
   <% end %>